# 1_Creating, Reading and Writing

>References
> - https://www.kaggle.com/code/residentmario/creating-reading-and-writing

## Definitions
- DataFrame: A table. It contains an array of individual entries. And each entry has a certain value.
  - ![DataFrame_sample]('data/DataFrame_sample.jpg')
  - Entry: "0, No" entry's value is 131.

## Make a DataFrame

In [3]:
import pandas as pd

pd.DataFrame({
  'David': ['I love you', 'How about you?'],
  'Rucy': ['I love you too!', 'HaHaHa']})

            David             Rucy
0      I love you  I love you too!
1  How about you?           HaHaHa

In [4]:
# set index
# use an 'index' parameter
entries = {
    'David': ['I love you', 'How about you?'],
  'Rucy': ['I love you too!', 'HaHaHa']
}

pd.DataFrame(entries, index = ['talk1', 'talk2'])

                David             Rucy
talk1      I love you  I love you too!
talk2  How about you?           HaHaHa

## Series
- DataFrame is a table. In contrast, Series object is a list. 
- Series is ,in essence, a column of DataFrame.

In [5]:
# create series
s = pd.Series([1, 2, 3, 4])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# asign an index and a name
s = pd.Series([1,2,3,4],
index = ['n1', 'n2', 'n3', 'n4'],
name = 'a series of numbers')

print(s)

n1    1
n2    2
n3    3
n4    4
Name: a series of numbers, dtype: int64

## Exercise

In [ ]:
# append Series to a DataFrame as a row (with append method)
fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})

temp_row = pd.Series([41,34], index=['Apples', 'Bananas'])

fruits = fruits.append(temp_row, ignore_index=True)

print(fruits)

'''
Warning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
'''

In [22]:
# append Series to a DataFrame as a row(with loc)
fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})

temp_row = pd.Series([41,34], index=['Apples', 'Bananas'])

fruits.loc[1] = temp_row

print(fruits)

   Apples  Bananas
0      30       21
1      41       34

In [34]:
# append Series to a DataFrame as a row (by converting Series to DataFrame)
fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})

temp_row = pd.Series([41,34], index=['Apples', 'Bananas'])

temp_row = pd.DataFrame([temp_row]) # Series index -> DataFrame column

fruits = pd.concat([fruits, temp_row], ignore_index=True)

print(fruits)

   Apples  Bananas
0      30       21
1      41       34

In [35]:
# append Series to a DataFrame as a column
fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})

temp_col = pd.Series([50], name='Mango')    # Seires name -> DataFrame column

fruits = pd.concat([fruits, temp_col], axis=1)

print(fruits)

   Apples  Bananas  Mango
0      30       21     50